#1 cache & build files ______________
__pycache__/
*.pyc
*.txt
*.xlsx
*.xml
*.sqlite3

#2 PyInstaller Distribution __________
dist/

#3 Temporary exec files for TEST _____
_.html
_.pdb

#4 Temporary python DB files _________
MNIST_data/
pdb_temp/
