#1 cache & build files
__pycache__/
*.pyc
*.txt
*.xlsx
*.xml
*.sqlite3

#2 PyInstaller Distribution
dist/

#3 Temporary exec files for TEST
#_.py
_.html
_.pdb

#4 Temporary python DB files
pdb_temp/
#_log/
_temp/
