#1 cache & build files ______________
__pycache__/
*.pyc
*.txt
*.xlsx
*.xml
*.sqlite3

#2 TensorBoard log data = _logdir/*.YOGA-0KPGT19P_
#*.YOGA-0KPGT19P

#2 PyInstaller Distribution __________
dist/

#3 Temporary exec files for TEST _____
_.html
_.pdb
