.DORAEMON_02 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    background: url('../img/doraemon_01.jpeg') no-repeat 50% 50%;
    background-size: contain;
    transform: translate(-50%, -50%);
  }

/*  About Eyeballs (each, left, right)
    Eyeballs, Eyeball,
    Eyeball-left / Eyeball-right
*/
  .eyeballs {
    display: flex;
    position: absolute;
    top: 67px;
    left: 90px;
  }

  .eyeball {
    position: relative;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    transform: scaleX(0.9);
  }

  .eyeball-left {
    left: 6px;
  }

  .eyeball-right {
    left: -5px;
  }

/*  About pupil of eyes rolling
    pupil = Pupil, Pupil-Before & After
*/
  .pupil {
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 20px;
    height: inherit;
  }

  .pupil:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: inherit;
    height: 20px;
    border-radius: 50%;
    background-color: black;
  }

  .pupil:after {
    content: '';
    display: block;
    position: absolute;
    left: 11px;
    bottom: 11px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
  }