  table tr td    {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 1px
  }

  td    {
    padding: 5 40 5 40px;
    background-color: #eee;
    border-style: dashed;
    border: 1px;
      
  }