{% extends './0base.html' %}
{% block title %}Flask index{% endblock %}


{% block header %}
  <div id="header">
    {% if message01 %}
      {{ message01 }}
    {% else %}
      Yeaaah~!! Flask!
    {% endif %}
  </div>
{% endblock%}




{% block content %}
  <div style="width: 480px; text-align: center;">
    <img src="{{ url_for('static',filename='./icons/logo_flask_python.jpg') }}" width="300">
  </div>
{% endblock  %}




{% block footer %}
  <div id="footer">
    {% if message02 %}
      {{ message02 }}
    {% else %}
      O.K! This is the index_flask
    {% endif %}
  </div>
{% endblock %}
