{% extends './0base.html' %}

{% block title %}Flask index{% endblock %}
{% block style %}{% endblock %}



{% block header %}
  <div id="header">
    {% if header %}
      {{ header }}
    {% else %}
      ... [default] $input header..
    {% endif %}
  </div>
{% endblock%}



{% block content %}
  <div style="width: 480px; text-align: center;">
    <img src="{{ url_for('static',filename='./icons/logo_flask_python.jpg') }}" width="300">
  </div>
{% endblock  %}



{% block footer %}
  <div id="footer">
    {% if footer %}
      {{ footer }}
    {% else %}
      ... [default] $input footer ...
    {% endif %}
  </div>
{% endblock %}
