{% extends './0base.html' %}

{% block title %}TEST LOGIN{% endblock %}
{% block style %}{% endblock %}

{% block content %}
<form method="post" action="/login">
    <table border='1' cellpadding='0' cellspacing='0'>
        <tr>
            <td colspan="2">
                <h2>log-in Information</h2>
            </td>
        </tr>

        <tr>
            <td>User Name</td>
            <td><input type="text" name="username" placeholder="Username"></td>
        </tr>
        <tr>
            <td>PassWord</td>
            <td><input type="password" name="password" placeholder="Password"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="button" name="SUBMIT">Log-In</button><br></td>
        </tr>
    </table>
</form>
{% endblock %}


