<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TEST TEMPLATE!</title>
  </head>

  <body>
    <div>
      <h3> - PARAMETER : {{ temp_id }} </h3>
        {% if not session.logged_in %}
          <h3><a href="{{ url_for('login_form') }}">LOG-IN</a> Check this, please!</h3>
        {% else %}
          <h3><a href="{{ url_for('logout') }}">LOG-OUT</a></h3>
        {% endif %}
            <br>
            
            <h3> - The sport which people loves these days!</h3>
        {% for i in sports %}
                <h3> {{ i }} </h3>
          {% if i == 'Soccer' %}
                <h5> {{ i }} is not the ANSWER!, I don't like it!</h5>
          {% endif %}
        {% endfor %}
    </div>
  </body>
</html>

<!--
refer here = https://www.slideshare.net/ssusercf5d12/ss-40104301?next_slideshow=1
-->
