{% extends './_base.html' %}


{% block style %}
{% endblock %}

{% block content %}
    {% for caption, link in links.items() %}
      <a href='{{ link }}'>[ {{ caption }} ]</a>::
    {% endfor %}

      <div>
        - PARAMETER : {{ temp_id }}
      </div>

        {% if not session.logged_in %}
          <div>
            <a href="{{ url_for('login_form') }}">[LOG-IN]</a> Check this, please!
          </div>

        {% else %}
          <div>
            <a href="{{ url_for('logout') }}">LOG-OUT</a>
          </div>

        {% endif %}

            <br>
    <H2>The sport which people loves these days!</h2>
        <ol>
          {% for sport in sports %}
          {% if sport == 'Golf' %}
          <li><u><b>{{ sport }}</b></u> = not the ANSWER!, I don't like it!</li>
          {% else %}
           <li>{{ sport }}</li>
          {% endif %}
          {% endfor %}
        </ol>

{% endblock %}

<!--
refer here = https://www.slideshare.net/ssusercf5d12/ss-40104301?next_slideshow=1
-->
